@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    color: rgb(42, 55, 58);
}
.header {
    width: 1280px;
    margin: 0 auto;
    background-color: #4b70b7;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 30px;
}

.footer {
    width: 1280px;
    padding: 10px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    background-color: #4b70b7;
    color: #fff;
}

.nav__list {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in, border-color 0.4s ease;
    border-bottom: 3px solid transparent;
}

.footer__link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease, border-color 0.4s ease;
    border-bottom: 3px solid transparent;
}

.nav__link:hover,
.footer__link:hover {
    color: rgba(255, 255, 255, .8);
    border-bottom: 3px solid rgba(255, 255, 255, .8);
}
.rsschool__link {
    background-color: #fff;
}
